footer {
  position: fixed;
  bottom: 0;
  z-index: 0;
  width: 100vw;
  height: 40vh;
  background: #fff;

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
    width: 100%;
    padding: 15vh 7vh;
    max-width: calc(1024px + 7vh);

    p {
      font-size: 2.5vh;
      font-weight: normal;
      color: #000;
      vertical-align: middle;
    }

    .left {
      width: 40%;
    }

    .right {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      align-items: center;
      div.dot {
        height: 13px;
        width: 13px;
        margin: 0 15px;
        background: linear-gradient(-234deg, #4DAEFF 0%, #B98BFF 99%);
        border-radius: 10px;
      }
    }

  }

}
