.menu {
  display: flex;
  max-width: calc(1024px + 7vh);
  padding: 50px 7vh 0 7vh;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 9;

  &-item {
    width: calc(100% /6);
    list-style: none;
    text-transform: lowercase;
    a {
      opacity: 0;
      transform: translateY(-100%);
      text-decoration: none;
      font-size: 2.25vh;
      font-weight: normal;
      color: #fff;
      transition: all .25s ease-in-out;
      &:hover {

      }
    }

    a[aria-current] {
      font-weight: bold;
    }

  }

  &-item.contact {
    text-align: right;
  }

  &-item.lang {
    text-transform: uppercase;
    text-align: right;
  }

}

.menu.visible {
  .menu-item {
    a {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
