#about {
  color: #fff;
  background: #000;

  .container {
    margin: auto;
    padding: 50px 7vh 250px;
    max-width: calc(1024px + 7vh);
  }


  #intro {
    margin-bottom: 100px;
    opacity: 0;
    transform: translateY(15%);
    transition: 1s cubic-bezier(.03,.13,.08,1);
    p {
      font-size: 3vh;
      font-weight: normal;
      max-width: 600px;
    }
  }

  section#intro.visible {
    opacity: 1;
    transform: translateY(0%);
  }

  #cv {

    .cv-section {
      opacity: 0;
      transform: translateY(50%);
      margin-bottom: 50px;
      transition: 1s cubic-bezier(.03,.13,.08,1);
      .section-title {
        margin-bottom: 20px;
        font-size: 3.75vh;
        font-weight: bold;
      }
      .article-title {
        margin-bottom: 10px;
        font-size: 2.25vh;
        font-weight: bold;
      }
      article {
        margin-bottom: 25px;
      }
      p {
        font-size: 2.25vh;
        font-weight: normal;
      }
    }
    .cv-section.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @include breakpoint(tablet) {
    .cv-section {
      display: flex;
      flex-wrap: wrap;
      .section-title {
        width: 100%;
      }
      article {
        width: 50%;
      }
      article:nth-child(2) {
        padding-right: 25px;
      }
    }
  }

  @include breakpoint(laptop) {
    #intro {
      padding-left: calc(100%/3);
    }
    .cv-section {
      display: flex;
      .section-title, article {
        width: calc(100% /3);
      }
      article:nth-child(2) {
        padding-right: 25px;
      }
      .third {
        margin-left: calc(100% / 3);
        margin-top: 25px;
      }
    }
  }
}
