#home {
  position: relative;
  z-index: 1;
  background: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 175px 0 75px;

  .home-intro.visible {
    color: #fff;
    transform: translateY(0%);
  }

  @for $i from 1 through 6 {
    .home-intro:nth-child(6n+#{$i}) {
      transition-delay: 0.1s*$i;
    }
  }

}
