#home {
  position: relative;
  z-index: 1;
  background: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 175px 0 75px;

  .home-intro {
    width: 100%;
    max-width: calc(1024px + 7vh);
    padding: 0 7vh 0 7vh;
    margin: auto;
    color: #000;
    font-size: 4.5vh;
    font-weight: bold;
    transition: all 1s cubic-bezier(.19,1,.22,1);
    transform: translateY(25%);
  }
  .home-intro.visible {
    color: #fff;
    transform: translateY(0%);
  }

  @for $i from 1 through 6 {
    .home-intro:nth-child(6n+#{$i}) {
      transition-delay: 0.1s*$i;
    }
  }

}
