#home {
  max-width: calc(1024px + 7vh);
  padding: 150px 7vh 0 7vh;
  margin: auto;

  .home-intro {
    color: #fff;
    font-size: 5vh;
    max-width: 900px;
    opacity: 0;
    transition: all 1s cubic-bezier(.19,1,.22,1);
    transform: translateY(-25%);
    margin-bottom: 20px;
  }
  .home-intro.visible {
    opacity: 1;
    transform: translateY(0%);
  }

  @for $i from 1 through 6 {
    .home-intro:nth-child(6n+#{$i}) {
      transition-delay: 0.1s*$i;
    }
  }

}
