#projects {
  background: #000;
  @include breakpoint(mobileonly) {
    padding-top: 50px 7vh 50px;
  }
  .projects-container {
    margin: auto;
    max-width: calc(1000px + 7vh);
    padding: 100px 7vh 50px;
  }
  .project-card {
    margin-bottom: 25px;
    .img-bg {
      transition: 1s cubic-bezier(.03,.13,.08,1);
      height: 250px;
      width: 100%;
      padding: 15px;
      display: block;
      display: flex;
      align-items: center;
      position: relative;
      overflow: hidden;
      &:after {
        content: '';
        position: absolute;
        background: #000;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        transition: .5s cubic-bezier(.03,.13,.08,1);
      }
      img {
        width: 100%;
      }
    }
    .infos {
      color: #fff;
      margin-top: 10vh;
      position: relative;
      transform: translateY(50%);
      transition: .75s cubic-bezier(.03,.13,.08,1);
      opacity: 0;

      &:after {
        content: '';
        position: absolute;
        background: #000;
        height: 0%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 2;
        transition: .75s cubic-bezier(.03,.13,.08,1);
      }

      .project {
        &-number {
          font-size: 1.25em;
          text-indent: 60px;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            background: #fff;
            height: 2px;
            width: 45px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        &-name {
          font-size: 2.25em;
          font-weight: bold;
        }
      }
    }
  }

  @include breakpoint(tablet) {

    a:nth-child(even) {
      .project-card {
        flex-direction: row-reverse;
        .infos {
          text-align: right;
          padding-left: inherit;
          padding-right: 100px;
          .project-number:before {
            right: 45px;
            left: inherit;
          }
        }
      }
    }

    .project-card {
      display: flex;
      justify-content: space-between;
      margin-bottom: 150px;
      .img-bg {
        padding: 8vh;
        width: 50%;
        height: 300px;
      }
      .infos {
        padding-left: 100px;
        width: 50%;
      }
    }
  }

  section.project-card.visible {
    picture.img-bg:after {
      height: 0%;
    }
    article.infos {
      transform: translateY(0);
      opacity: 1;
      &:after {
        height: 0%;
      }
    }
  }

  #sounds-in-bordeaux {
    .img-bg img {
      transform: translateY(10%);
    }
  }

  #capsule {

  }

  #mandat {
    .img-bg {
      padding: 0;
      text-align: center;
      img {
        height: 80%;
        width: auto;
        margin: auto;
      }
    }
  }

  #frank-gehry {
    .img-bg {
      padding: 5vh auto;
      text-align: center;
    }
  }
}

@include breakpoint(mobileonly) {
  #projects {
    padding: 10vh 7vh;
  }
}
