$white: #fff;

h1 {
  &.home-intro {
    width: 100%;
    max-width: calc(900px + 7vh);
    padding: 0 7vh 0 7vh;
    margin-bottom: 50px;
    color: rgba($white, 0.5);
    font-size: 2em;
    font-weight: bold;
    transition: all 1s cubic-bezier(.19,1,.22,1);
    transform: translateY(25%);
  }
  strong {
    color: $white;
  }
}

h2 {
  &.home-intro {
    width: 100%;
    max-width: calc(1000px + 7vh);
    padding: 0 7vh 0 7vh;
    margin: auto;
    color: rgba($white, 0.5);
    font-size: 2em;
    font-weight: thin;
    transition: all 1s cubic-bezier(.19,1,.22,1);
    transform: translateY(25%);
  }
  strong {
    color: $white;
  }
}
