<section class="phoneMockups" style="background-color: <%= project.primaryColor %>;">
  <div class="container">
    <%= project_image(project, 'mockup1.png') %>
    <%= project_image(project, 'mockup2.png') %>
    <%= project_image(project, 'mockup3.png') %>
  </div>
</section>
