<section class="phoneMockups" style="background-color: <%= project.primaryColor %>;">
  <div class="container">
    <%= project_image(project, 'phoneMockup1.png') %>
    <%= project_image(project, 'phoneMockup2.png') %>
    <%= project_image(project, 'phoneMockup3.png') %>
  </div>
</section>
