<!-- <section class="video-text-container" style="background-color: <%= project.secondaryColor %>;">
  <div class="container" data-animate>
    <%= project_image(project, 'wf-hp-sib.png') %>
    <article>
      <h3>Home page</h3>
      <p><%= project[locale.to_s].solution1 %></p>
    </article>
  </div>
</section> -->
