<div data-fluffy-container data-fluffy-options='{"mousePadding": 100}' class="slider_1">
  <div data-fluffy-content style="background-color: #ffffff;">
    <%= project_image(project, '1.jpg') %>
    <%= project_image(project, '2.jpg') %>
    <%= project_image(project, '3.jpg') %>
  </div>
</div>
