<section class="project_explanation" data-animate-auto>
  <p><strong>Le google form mit en place durant quelques jours nous a permis de souligner des problèmes et des opportunités.</strong></p>
  <ul>
    <li>La barre de navigation changeait ou disparaissait en fonction des pages, ce qui pouvait empêcher l’utilisateur de se retrouver sur la plateforme.</li>
    <li>La majorité des utilisateurs visitait notre site dans le but de trouver des événements près de chez eux répondant parfois à des critères assez précis.</li>
    <li>La page "Best of th week" était la première page visité par une grande partie des utilisateurs.</li>
  </ul>
</section>
