---
slug: about
---

<h1></h1>

<p>
  Je suis Emeline Bailleul, étudiante en multimédia spécialisée en design d’interfaces et expérience utilisateur. J’ai également de l’expérience en développement front end à l’agence Disko.
  <br><br>
  A la recherche d’un stage de 6 mois à partir du 16 avril, je serais ravie de travailler à vos côtés dans la conception d’interfaces
  <br><br>
  Vous pouvez me contacter ici, ainsi que voir mon cv là.
</p>
