---
slug: about
---
<main id="about" class="wrapper">

  <section id="intro">
    <article>
      <p>
        Je suis Emeline Bailleul, étudiante en multimédia spécialisée en design d’interfaces et expérience utilisateur. J’ai également de l’expérience en développement front end à l’agence Disko.
        <br><br>
        A la recherche d’un stage de 6 mois à partir du 16 avril, je serais ravie de travailler à vos côtés dans la conception d’interfaces
        <br><br>
        Vous pouvez me contacter ici, ainsi que voir mon cv là.
      </p>
    </article>
  </section>

  <section id="cv">

    <section class="cv-section" id="studies">
      <h2 class="section-title">Etudes</h2>
      <article>
        <h3 class="article-title">2014/2016</h3>
        <p>Licence Langues Étrangères Appliquées - Université de Bordeaux</p>
      </article>
      <article>
        <h3 class="article-title">2016/2018</h3>
        <p>DUT Métiers du Multimédia et de l’Internet - IUT Bordeaux Montaigne</p>
      </article>
    </section>


    <section class="cv-section" id="work">
      <h2 class="section-title">Expérience</h2>
      <article>
        <h3 class="article-title">06/2017 au 09/2017</h3>
        <p>Développeur front end @Disko <br> Clients: Hennessy, Schmidt, Roxim, Santander, Grandir.</p>
      </article>
    </section>


    <section class="cv-section" id="skills">
      <h2 class="section-title">Compétences</h2>
      <article>
        <h3 class="article-title">logiciels</h3>
        <p>Sketch, Principle, Axure, Zeplin, InVision, Marvel, Suite adobe (Photoshop, Illustrator, After Effects, Première Pro), Final Cut Pro.</p>
      </article>
      <article>
        <h3 class="article-title">développment web</h3>
        <p>HTML, CSS, SASS, Stylus, Javascript, jQuery, Bootstrap, Foundation, Gulp, Twig.</p>
      </article>
    </section>


    <section class="cv-section" id="more">
      <h2 class="section-title">Divers</h2>
      <article>
        <h3 class="article-title">Langues</h3>
        <p>Français (natif), Anglais (courant)</p>
      </article>
      <article>
        <h3 class="article-title">2017 et 2018</h3>
        <p>Concours d’éloquence de l’IUT Bordeaux Montaigne.</p>
      </article>
    </section>


  </section>

</main>
