---
slug: homepage
---
<section id="main">
  <h2>Hello !</h2>

  <h1>Je suis Emeline Bailleul, étudiante en UX Design
  et actuellement apprentie product designer à Pôle Emploi.</h1>

  <p>J'intègre l'ECV digital en Mastère UX à la rentrée prochaine
et je recherche un poste de Product designer en apprentissage
à compter de la rentrée prochaine.</p>

  <p>Vous pouvez <a id="blue" target="_blank" href="images/static/FOLIO-EmelineBailleul.pdf">voir mon travail ici</a> et en savoir plus sur <a target="_blank" id="violet" href="images/static/CV-EmelineBailleul.pdf">mon parcours là.</a></p>
</section>
