---
slug: homepage
---

<main id="home" class="wrapper">

  <h1 class="home-intro" data-animate><%= t('homepage.h1') %>
    <% link_to '/', locale: :en do %>
      bite
      <% end %>
  </h1>

</main>
