---
slug: homepage
dynamic:
  enable: true
  data: project
  name_and_slug_translate: false
  name: name
  description: description
  slug: slug
dir:
  - projects
---

<main id="project" class="wrapper">
  <%= partial 'layouts/partials/projects/project-header' %>



</main>

<div class="safari-bug"></div>

<%= partial 'layouts/partials/projects/btn-next.html.erb' %>
