<footer>
  <div class="contact">
    <h3>contact —</h3>
    <div>
      <a href="<a href="mailto:hello@emelinebailleul.com?subject=hi!">hello@emelinebailleul.com</a>
      <p>06.31.04.18.49</p>
    </div>
  </div>

  <div class="social">
    <h3>social —</h3>
    <div>
      <a target="_blank" href="https://www.linkedin.com/in/emeline-bailleul/">
        <img src="images/static/Linkedin.png" alt="">
      </a>
      <a target="_blank" href="https://dribbble.com/EmelineBailleul">
        <img src="images/static/dribbble.png" alt="">
      </a>
      <a target="_blank" href="https://twitter.com/EmelineBailleul">
        <img src="images/static/Twitter.png" alt="">
      </a>
    </div>
  </div>
</footer>
