<footer>

  <div class="container">
    <div class="left">
        <p><%= markdown t('footer.p') %></p>
    </div>
    <div class="right">
      <p class="year">2018</p>
      <div class="dot"></div>
      <p>Emeline Bailleul</p>
    </div>
  </div>

</footer>
