<% link_to proxy_url(project.nextProjectSlug) do %>
  <div class="nextProject">
    <span class="nextProject-title"><%= t('projects.next') %></span>
    <span class="nextProject-project"><%= project.nextProjectName %></span>
  </div>
<% end %>
