<% link_to proxy_url(project.nextProjectSlug) do %>
  <div class="btn-next">
    <h4 class="next"><%= t('projects.next') %></h4>
    <h4 class="next-project"><%= project.nextProjectName %></h4>
  </div>
<% end %>
