<div data-fluffy-container class="video-wrapper" data-fluffy-options='{"mousePadding": 100, "mouseDamp": 5'>
  <div data-fluffy-content class="video-container" style="background-color: <%= project.secondaryColor %>;">
    <%= project_image(project, 'fluffy1.png') %>
    <%= project_image(project, 'fluffy2.png') %>
    <%= project_image(project, 'fluffy3.png') %>
  </div>
</div>
