<div data-fluffy-container>
    <div data-fluffy-content>
      <%= project_image(project, 'fluffyjs-1.png') %>
      <%= project_image(project, 'fluffyjs-2.png') %>
      <%= project_image(project, 'fluffyjs-3.png') %>
    </div>
</div>
