<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= data.meta.title %> | Not found</title>
    <%= stylesheet_link_tag "404" %>
  </head>
  <body>
    <h1>404</h1>
    <h2>Not found</h2>
  </body>
</html>
