.btn-next {
	width: 100vw;
	background: #000;
	padding: 14vh 7vh;
	position: fixed;
  bottom: 0;
  left: 0;
	height: 40vh;

	.next-project, .next {
    max-width: 1000px;
    margin: auto;
		position: relative;
		z-index: 5;
		color: #fff;
		mix-blend-mode: difference;
	}

  .next {
    font-size: 3em;
    mix-blend-mode: difference;
    position: relative;
    font-weight: normal;
  }

  .next-project {
    font-weight: normal;
    font-size: 2em;
  }

	&:before {
		content:'';
		position: absolute;
		height: 0%;
		width: 100%;
		background: #fff;
		bottom: 0;
		left: 0;
		transition: .5s cubic-bezier(.43,.01,.25,1);
	}

	&:hover {
		&:before {
			height: 100%;
		}
	}
}
