.btn-next {
	width: 100vw;
	background: #fff;
	padding: 100px 7vh;
	position: fixed;
  bottom: 0;
  left: 0;

	.next-project, .next {
    max-width: 1024px;
    margin: auto;
		position: relative;
		z-index: 5;
		color: #fff;
		mix-blend-mode: difference;
	}

  .next {
    font-size: 6vh;
    mix-blend-mode: difference;
    position: relative;
    font-weight: normal;
  }

  .next-project {
    font-weight: normal;
    font-size: 4vh;
  }

	&:before {
		content:'';
		position: absolute;
		height: 100%;
		width: 0%;
		background: black;
		top: 0;
		left: 0;
		transition: 1s cubic-bezier(.43,.01,.25,1);
	}

	&:hover {
		&:before {
			width: 100%;
		}
	}
}
