section.image-text {
  background: #fff;
  padding: 200px 7vh;
  article {
    margin: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    margin-bottom: 100px;
    .text, .picture {
      width: 50%;
    }

    .picture {
      height: 500px;
      text-align: center;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      img {
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        transition: .5s cubic-bezier(.43,.01,.25,1);
        transform: translateY(5%);
        opacity: 0;
        &.visible {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
    .text {
      h3.large {
        opacity: 0;
        transition: .5s cubic-bezier(.43,.01,.25,1);
        margin-bottom: 20px;
        color: #000;
        transform: translateY(50%);
        transition-delay: .15s;
        &.visible {
          transform: translateY(0);
          opacity: 1;
        }
      }
      p.regular {
        opacity: 0;
        transition: .5s cubic-bezier(.43,.01,.25,1);
        transform: translateY(50%);
        transition-delay: .20s;
        &.visible {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }

  .first {
    .picture img {
      max-width: 90%;
      height: auto;
    }
  }
}

article.first {
  .picture img {
    margin-left: 25%;
  }
}

.oneImg {
  background: #304ffe;
  width: 100vw;
  height: 500px;
  text-align: center;
  img {
    height: 100%;
    object-fit: contain;
  }
}
