.project-header {
  color: #fff;
  max-width: calc(1024px + 7vh);
  padding: 50px 7vh 50px 7vh;
  margin: auto;
  min-height: 100vh;

  .project-number {
    text-indent: 60px;
    font-size: 4vh;
    position: relative;
    color: #000;
    transition: .5s cubic-bezier(.43,.01,.25,1);
    transition-delay: .25s;
    &:before {
      content: '';
      position: absolute;
      background: #fff;
      height: 2px;
      width: 0px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: .25s cubic-bezier(.43,.01,.25,1);
    }
  }

  h1.project-name {
    font-size: 7vh;
    transition: .25s cubic-bezier(.43,.01,.25,1);
    margin-bottom: 50px;
    color: #000;
  }

  .project-desc {
    font-size: 2.75vh;
    font-weight: normal;
    p {
      line-height: 2;
      color: #000;
      transition: .25s cubic-bezier(.43,.01,.25,1);
      transition-delay: .25s;
    }
  }

  .small-title {
    font-weight: bold;
    font-size: 3vh;
    margin-bottom: 10px;
    color: #000;
    transition: .25s cubic-bezier(.43,.01,.25,1);
    transition-delay: .25s;
  }

  aside {
    margin-bottom: 25px;
    transition-delay: .25s;
  }

  aside p, aside a {
    margin-bottom: 25px;
    color: #000;
    transition: .25s cubic-bezier(.43,.01,.25,1);
    transition-delay: .25s;
  }

  @include breakpoint(tablet) {
    padding: 50px 7vh 150px 7vh;
    aside {
      padding-right: 50px;
    }

    h1.project-name, h2.project-number {
      width: calc((100%/6) * 4);
      margin: auto;
    }

    h1.project-name {
      margin: 0 auto 100px;
    }

    section.main-infos {
      margin: auto;
      justify-content: space-between;
      width: calc((100%/6) * 4);
      display: flex;
    }
    .offline {
      opacity: .5;
      text-decoration: line-through;
      &:hover {
        cursor: not-allowed;
      }
    }

  }

  @for $i from 1 through 6 {
    .main-infos *:nth-child(6n+#{$i}) {
      transition-delay: 0.1s*$i;
    }
  }

}

.project-header.visible {
  .project-number {
    color: #fff;
    &:before {
      width: 45px;
    }
  }
  h1.project-name {
    color: #fff;
  }
  .project-desc {
    p {
      color: #fff;
    }
  }
  .small-title {
    color: #fff;
  }
  aside p, aside a{
    color: #fff;
  }
}
