@include breakpoint(tablet) {
  aside {
    width: calc((100% / 6)*2);
  }
  .project-desc {
    width: calc((1024px /6)*3);
  }
}

.project-header {
  color: #fff;
  max-width: calc(1024px + 7vh);
  padding: 50px 7vh 50px 7vh;
  margin: auto;
  min-height: 100vh;

  .project-number {
    text-indent: 60px;
    font-size: 4vh;
    position: relative;
    color: #fff;
    opacity: 0;
    transition: opacity .5s cubic-bezier(.43,.01,.25,1);
    transition-delay: .5s;
    &:before {
      content: '';
      position: absolute;
      background: #fff;
      height: 2px;
      width: 0px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: 2s cubic-bezier(.43,.01,.25,1);
    }
  }

  h1.project-name {
    font-size: 7vh;
    transform: translateY(80%);
    transition: opacity .25s cubic-bezier(.43,.01,.25,1), transform .5s cubic-bezier(.43,.01,.25,1);
    transition-delay: .55s;
    margin-bottom: 50px;
    opacity: 0;
    color: #fff;
  }

  .project-desc {
    font-size: 2.25vh;
    font-weight: normal;
    p {
      line-height: 2;
      color: #fff;
      opacity: 0;
      transform: translateY(50%);
      transition: opacity 1s cubic-bezier(.43,.01,.25,1);
      transition-delay: 1.5s;
    }
  }

  .small-title {
    font-weight: bold;
    font-size: 2.75vh;
    margin-bottom: 10px;
    color: #fff;
    opacity: 0;
    transform: translateY(80%);
    transition: .25s cubic-bezier(.43,.01,.25,1);
    transition-delay: 1.2s;
  }

  aside {
    margin-bottom: 25px;
  }

  aside p, aside a {
    margin-bottom: 25px;
    color: #fff;
    opacity: 0;
    transform: translateY(50%);
    transition: .5s cubic-bezier(.43,.01,.25,1);
    transition-delay: 1.25s;
  }

  @include breakpoint(tablet) {
    padding: 50px 7vh 150px 7vh;
    aside {
      padding-right: 50px;
    }

    h1.project-name, h2.project-number {
      width: 100%;
      margin: auto;
    }

    h1.project-name {
      margin: 0 auto 100px;
    }

    section.main-infos {
      margin: auto;
      justify-content: space-between;
      width: 100%;
      display: flex;
    }
    .offline {
      opacity: 0;
      text-decoration: line-through;
      &:hover {
        cursor: not-allowed;
      }
    }

  }
}

.project-header.visible {
  .project-number, h1.project-name, .project-desc p, .small-title, aside p, aside a {
    transform: translateY(0);
    opacity: 1;
  }
  .offline {
    opacity: .5 !important;
  }
  .project-number:before {
    width: 45px;
  }
}
