.video-container {
  width: 100vw;
  padding: 200px 7vh;
  text-align: center;
  display: block;
  video {
    max-width: 65vw;
  }
}

.video-text-container {
  width: 100vw;
  padding: 200px 7vh;
  .container {
    margin: auto;
    width: calc(1000px + 7vh);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    article {
      margin-left: 5vw;
      max-width: 50%;
      h3 {
        font-size: 3.25vh;
        margin-bottom: 1em;
        opacity: 0;
        transition: .5s cubic-bezier(.43,.01,.25,1);
        transform: translateY(50%);
        transition-delay: .20s;
      }
      p {
        text-align: justify;
        line-height: 1.5;
        color: #000;
        font-weight: 100;
        margin-bottom: 1em;
        opacity: 0;
        transition: .5s cubic-bezier(.43,.01,.25,1);
        transform: translateY(35%);
        transition-delay: .25s;
      }
    }
    video {
      max-width: 65%;
      opacity: 0;
      transition: .5s cubic-bezier(.43,.01,.25,1);
      transform: translateY(35%);
    }
    &.visible {
      video, h3, p {
        opacity: 1;
        transform: translate(0);
      }
    }
  }
}
