.project_explanation {
  max-width: calc((1024px + 7vh)/2);
  padding: 100px 0;
  margin: auto;
    p, li {
    line-height: 2;
    color: #fff;
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 1s cubic-bezier(.43,.01,.25,1);
    transition-delay: 1.5s;
    font-size: 1.05em;
  }
  p {
    margin-bottom: 15px;
  }
  li {
    list-style: circle;
    margin-left: 15px;
    margin-bottom: 5px;
  }
}
.project_explanation.visible {
  p, li {
    transform: translateY(0);
    opacity: 1;
  }
}
